@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A poc of a orgasitional chart, use <a href="./Workers/Index">Database</a> to update the <a href="./Workers/OrgasitionalChart">Orgasitional Chart</a>.</p>
    <p>You can use ID on Orgasitional Chart uri to have a view from a specific worker</p>
</div>
